<tr data-rule-index="{{index}}">
    <td class="align-middle">{{{allow}}}</td>
    <td class="align-middle">{{{type}}}</td>
    <td class="align-middle">{{{require}}}</td>
    <td class="align-middle">{{apps}}</td>
    <td class="align-middle">
      <button class="btn btn-default btn-sm" data-rule-edit>Edit</button>
      <button class="btn btn-danger btn-sm" data-rule-delete>Delete</button>
    </td>
</tr>