<tr data-rule-index="{{index}}" class="{{#if enabled}}enabled{{else}}disabled{{/if}}">
  <td class="align-baseline">
    <a href="#" data-toggle-status>
      {{#if enabled}}
        <i class="fa fa-toggle-on"></i> Enabled
      {{else}}
        <i class="fa fa-toggle-off"></i> Disabled
      {{/if}}
    </a>
  </td>
  <td class="align-baseline">{{{allow}}}</td>
  <td class="align-baseline">{{{type}}}</td>
  <td class="align-baseline">{{{require}}}</td>
  <td class="align-baseline">{{apps}}</td>
  <td class="align-baseline">
    <button class="btn btn-default btn-sm" data-rule-edit>Edit</button>
    <button class="btn btn-danger btn-sm" data-rule-delete>Delete</button>
  </td>
</tr>