<tr data-rule-index="{{index}}">
    <td class="align-baseline">{{{allow}}}</td>
    <td class="align-baseline">{{{type}}}</td>
    <td class="align-baseline">{{{require}}}</td>
    <td class="align-baseline">{{apps}}</td>
    <td class="align-baseline">
      <button class="btn btn-default btn-sm" data-rule-edit>Edit</button>
      <button class="btn btn-danger btn-sm" data-rule-delete>Delete</button>
    </td>
</tr>