<tr data-rule-index="{{index}}" class="{{#if enabled}}enabled{{else}}disabled{{/if}}">
  <td class="align-baseline">
    <a href="#" data-toggle-status>
      <div class="toggle-switch toggle-switch-sm">
        {{#if enabled}}
        <input class="switch-input" type="checkbox" checked />
        <label class="toggle"></label>
        <label class="switch-label">Enabled</label>
        {{else}}
        <input class="switch-input" type="checkbox" />
        <label class="toggle"></label>
        <label class="switch-label">Disabled</label>
        {{/if}}
      </div>
    </a>
  </td>
  <td class="align-baseline">{{{allow}}}</td>
  <td class="align-baseline">{{{type}}}</td>
  <td class="align-baseline">{{{require}}}</td>
  <td class="align-baseline">{{{include}}}</td>
  <td class="align-baseline">{{apps}}</td>
  <td class="align-baseline">
    <button class="btn btn-default btn-sm" data-rule-edit>Edit</button>
    <button class="btn btn-danger btn-sm" data-rule-delete>Delete</button>
  </td>
</tr>