<tr data-rule-index="{{index}}">
    <td class="align-middle">{{{allow}}}</td>
    <td class="align-middle">{{{type}}}</td>
    <td class="align-middle">{{{require}}}</td>
    <td class="align-middle">{{apps}}</td>
    <td class="align-middle text-right">
      <button class="btn btn-default" data-rule-edit>Edit</button>
      <button class="btn btn-danger" data-rule-delete>Delete</button>
    </td>
</tr>