<div class="checkbox checkbox-icon">
  <input type="checkbox" id="chk-{{id}}" value="{{id}}" {{checked}}>
  <label for="chk-{{id}}">
    <span class="check"><i class="fa fa-check"></i></span> {{name}}
  </label>
</div>